---
layout: default
permalink: /blog/categories/
title: Categories
---
<div id="posts">
{% for category in site.categories %}
  <div class="post-group">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="#{{ category_name | slugize }}"></div>
    <p></p>

    <h3 class="category-head">{{ category_name }}</h3>
    <a name="{{ category_name | slugize }}"></a>
    {% for post in site.categories[category_name] %}
    <article class="post-item">
      <h4><a href="{{ site.baseurl }}{{ post.url }}">
          {% if category_name == "TIL" %}
            {{post.title | remove_first: "TIL: " | capitalize}}
          {% else %}
            {{post.title}}
          {% endif %}
        </a></h4>
    </article>
    {% endfor %}
  </div>
{% endfor %}
</div>
